template(name='trendMap')
  #blindspot-map.map
    if loading
      +loadingDialog

  #sidebar.sidebar.sidebar-left.sidebar-main
    // Nav tabs
    ul.sidebar-tabs
      li#sidebar-collapse-tab
        a(href='#sidebar-search-and-advanced-filter' role='tab')
          i.fa.fa-chevron-circle-left.fa-white
      button#sidebar-plus-button.sidebar-zoom-in.fa.fa-plus.btn.btn-sm
      button#sidebar-minus-button.sidebar-zoom-out.fa.fa-minus.btn.btn-sm

    // Tab panes
    .sidebar-content
      .sidebar-pane.active
        h1.logo Surveillance Paucity Analysis
        .sidebar-pane-content
          +pageSelector
          p
            | This map shows the trending countries on ProMED-mail feeds.
            | Countries with a relatively large increase in mentions per capita
            | are shown in green, while countries with a large decrease are shown
            | in red.
          .control-wrapper
            .heading
              h3 Time interval
            ul#trendingRange.range-selector.list-unstyled
              li(data-time="week" class="{{#if rangeSelected 'week'}} active {{/if}}") Week
              li(data-time="month" class="{{#if rangeSelected 'month'}} active {{/if}}") Month
              li(data-time="year" class="{{#if rangeSelected 'year'}} active {{/if}}") Year
          +feeds
