.sidebar
  box-shadow none

.sidebar-content
  background $whiteBG

.sidebar-main
  .sidebar-tabs
    border-left 3px solid darken($blue,10%)

.sidebar-tabs
  opacity 1
  background $blue-transparent
  width 55px
  &.right
    background linear-gradient(to right, rgba(255,0,0,0) 75% , $blue-transparent 25%)

#sidebar-plus-button
#sidebar-minus-button
  color white

.fa-white
  font-size 2em
  color white

.sidebar-zoom-in
  background #496c8a
  overflow hidden
  position absolute
  bottom 40px
  left 60px

.sidebar-zoom-out
  background #496c8a
  overflow hidden
  position absolute
  bottom 5px
  left 60px

.sidebar-zoom-out:hover
.sidebar-zoom-in:hover
  background #496c8a
  opacity .75

#sidebar
  overflow visible

.sidebar-pane
  width 300px
