#tableSidebar
  .sidebar-content
    background none
  &:not(.collapsed)
    .sidebar-tabs.right
      background linear-gradient(to right, rgba(255,0,0,0) 90% , $blue-transparent 10%)
    #sidebar-flightData-tab
      right 10%

#sidebar-flightData
  height 100%
  width 100%
  display flex
  flex-flow column

#sidebar-flightData-tab
  verticallyCenter()
  background alpha($blue, 90%)
  border-radius 4px
  height 32px
  line-height 40px

#sidebar-flightData-tab
  right 25%
  height 60px
  border-top-left-radius 4px
  border-bottom-left-radius 4px
  border-top-right-radius 0
  border-bottom-right-radius 0
  width auto
  min-width 75%
  background $blue-transparent
  > a
    line-height normal
    display flex
    align-items center
    position absolute
    top 50%
    transform translate(0,-50%)
    font-size 1.25em
    color white
    transition background .2s
    &:hover
      background alpha(darken($blue-transparent, 30%), 70%)
    .fa
      margin 0 3px
      &:first-of-type
        margin-left 5px
  &.active
    border-right 1px solid darken($blue-transparent, 10%)
    min-width 40%
    height 100px
    > a
      .fa
        margin-left 7px
      .fa-white-table
        display none

.table-tabs
  flexTabs($whiteBG, $blue-transparent, $l-gray, true)
  flex-shrink 0
  font-size 1.1em
  letter-spacing .02em
  border-bottom 3px solid $blue-transparent
  border-left 1px solid darken($blue-transparent, 10%)

  &.nav-tabs
    > li
      > a
        padding 15px

#dataTableContainer
  font-size small

.dataTableContent
  flex 1 100%
  position relative
  overflow-y scroll
  overflow-x hidden
  background alpha($whiteBG, 95%)

.pathsTableContainer
  bottom 0px

.pathTableRow
  width 350px
  text-align center
  cursor pointer
  &:hover
    background $ll-gray

.nodeTableRow, .heatmapTableRow
  width 350px
  text-align center

.activeRow
  color white
  background-color alpha($blue, 90%)

.tablesorter
  cursor pointer
  th
    border solid 1px $border-gray
    position relative
    &:hover
      background $l-gray
    &:focus
      background lighten($m-gray, 20%)
      outline none

  &.table
    > thead
      > tr
        > th
          padding-right 20px
    > tbody
      > tr
        > td
          border-color $l-gray

  .tablesorter-headerDesc
    sortingIcon('\f107') // angle down icon

  .tablesorter-headerAsc
    sortingIcon('\f106') // angle up icon

.sidebarRightFooter
  flex-shrink 0
  padding 20px 10px 20px 30px
  @extend .sidebar-footer
  height auto
  .export
    padding 0
    display flex
    justify-content center
    align-items center
    i
    button
      flex 1 100%
      flex-grow 1
      margin-right 5px
      &:last-of-type
        margin-right 0
    &:first-child
      flex 0
      margin-right 20px
  .downloadIcon
    margin 0
    padding 0
    font-size 2em
    margin-top 2px

  .exportData
    margin 0
