.sidebar
  box-shadow none
  h1.logo
    width 85%
    margin 20px auto
    background url(../images/spa-logo.svg) no-repeat
    background-position center center
    min-height 100px
    text-indent -9999px

.sidebar-pane
  display block
  width $sidebar-width + 5px

.sidebar-pane-content
  padding 0 35px 35px
  font-size 1em
  font-weight 400
  color $dd-gray

.sidebar-content
  background $whiteBG

.sidebar-main
  .sidebar-tabs
    border-left 3px solid darken($primary,10%)

.sidebar-tabs
  width 55px
  background $primary-transparent
  opacity 1
  &.right
    background linear-gradient(to right, rgba(255,0,0,0) 75% , $primary-transparent 25%)

#sidebar-plus-button
#sidebar-minus-button
  color white
  padding-top 8px
  padding-bottom 8px

.fa-white
  font-size 2em
  color white

.sidebar-zoom-in
  position absolute
  bottom 40px
  left 60px
  overflow hidden
  background $primary-transparent

.sidebar-zoom-out
  position absolute
  bottom 5px
  left 60px
  overflow hidden
  background $primary-transparent

.sidebar-zoom-out:hover
.sidebar-zoom-in:hover
  background $primary-transparent
  opacity .75

#sidebar
  overflow visible
