$fonts = arial, helvetica, sans-serif
$primary-font = 'Lato'

$body-text = #333333
$tab-unselected = rgba(102, 102, 102, 1)

$blue = rgba(62, 106, 137, 1)
$blue-transparent = alpha($blue, 85%)
$green = rgba(53, 185, 118, 1)
$whiteBG = alpha(#FFFFFF, 90%)

$border-gray = #DDDDDD

$ll-gray = rgba(245, 245, 245, 1)
$l-gray = rgba(235, 235, 235, 1)
$m-gray = rgba(204, 204, 204, 1)
$d-gray = rgba(150, 150, 150, 1)

$sidebar-width = 300px
$sidebar-tabs-width = 60px
$data-table-width = 550px
$data-table-tabs-width = 60px
